body {
  margin: 0 auto;
  text-align: center;
  background-image: url('../../public/Pics/wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
}

.nav {
  background-color: white;
}








#my_pic {
  align-items: left;
  padding: 0 50px 0px 0px;
}

#connect_message {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .column {
      flex: 50%;
      max-width: 50%;
  }
}