body {
  margin: 0 auto;
  text-align: center;
  background-image: url('../../public/Pics/wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
}

#social {
  align-items: right;
}

#welcome_head {
  display: flex;
  text-align: center;
  width: auto;
  height: auto;   
}

.welcome {
  font-size: smaller;
}

#my_pic {
  align-items: left;
  padding: 0 50px 0px 0px;
}

#connect_message {
  text-align: center;
}

.navbar {
  background-color: white;
}

@media screen and (max-width: 800px) {
  .column {
      flex: 50%;
      max-width: 50%;
  }
}